canvas {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1; /* Place the canvas behind other elements */
	background: linear-gradient(#061122, #003366); /* Linear gradient background */
}

body {
	margin: 0;
	overflow: hidden;
	font-family: 'Sacramento', cursive;
	background: linear-gradient(#061122, #003366);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
  }

  /* Styling for the neon effect */
  h1.neon {
	color: white;
	font-size: 3em;
	text-shadow: 0 0 5px #0000ff, 0 0 10px #0000ff, 0 0 15px #0000ff, 0 0 20px #0000ff, 0 0 30px #0000ff, 0 0 40px #0000ff, 0 0 50px #0000ff, 0 0 75px #0000ff;
  }

  /* Styling for the container */
  #messageContainer {
	display: none;
	width: 300px;
	height: 300px;
	border: 1px solid #ccc;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 51, 102, 0.20);
	backdrop-filter: blur(25px);
	text-align: center;
	font-size: 32px;
	font-weight: 400;
  }
  
  button {
	font-family: 'Pacifico', cursive;
	font-size: 24px;
	font-weight: 300;
	padding: 10px 20px;
	cursor: pointer;
	border: none;
	border-radius: 50px;
	outline: none;
	background: radial-gradient(circle, rgba(44,62,80,1) 0%, rgba(0,26,51,1) 100%); /* Gradient background */
	color: #fff; /* White text color */
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Subtle box shadow */
	transition: background 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
	background:radial-gradient(circle, rgba(44,62,80,1) 0%, rgba(0,26,51,1) 100%); /* Darker gradient on hover */
	box-shadow: 0 0 10px #2c3e50, 0 0 20px #2c3e50, 0 0 30px #2c3e50;
	transform: scale(1.05); /* Slightly scale up on hover */
  }
  
  button:active {
	transform: scale(0.95); /* Slightly scale down on button press */
  }
  